body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4CAF50;
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.name {
    color: #333;
    margin-top: 15px;
    font-size: 2em;
}

.career {
    color: #555;
    font-size: 1.2em;
    font-weight: normal;
    margin-top: -10px;
}

.description {
    color: #666;
    line-height: 1.6;
}

#toggleContact {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#toggleContact:hover {
    background-color: #007B9A;
    transform: scale(1.05);
}

.contact-info {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.hidden {
    display: none;
}